body {
     margin: 0px;
     overflow-x: hidden;
}
.bandeau {
     display:flex;
     justify-content: center;
     align-items: center;
     background-color: #9f0a0f;;
     height: 100px;
     padding: 10px;
     padding-top: 25px;
     padding-bottom: 30px;
     padding-right: 10px;
}
.burghairs {
     width: 300px;
     height: auto;
}

.infosgauche {
     display: block;
     margin-left: 0px;
     color: #ffffff ;
     margin-top: -15px;
     margin-right: 40px;
     
}
/* Informations Gauche bandeau*/

.textlocale {
     margin-bottom: -20px;
}

.lignesepare {
     margin-top: 0px;
     margin-bottom: 0px;
}

.title {
     font-weight: 600;
     font-size: 20px;
     margin-bottom: -15px;
     margin-left: 40px;
}
.navigation {
     list-style-type: none;
     display: block;
     margin-left: 26px;
     margin-top: 4px;
}
.infosgauche a {
     text-decoration: none;
     color: #ffffff;
}
.infonavig {
     margin-left: 56px;
}
.navigation .lignesepare {
     margin-left: -27px;
     margin-top: -5px;
}


/* Informations droite */

.infosdroite {
     display: block;
     margin-left: 40px;
}

.ouvert {
font-family:cursive;
font-weight: 700;
font-size: 20px;
color: #ffffff;
margin-top: 0px;
margin-bottom: 10px;
}
.telnum {
     font-weight: 700;
     font-size: 25px;
     color: #bda477;
     margin-left: 70px;
     margin-top: 0px;
     margin-bottom: 0px;
}
.infosdroite .lignesepare {
     color: #ffffff;
     margin-top: -5px;
     margin-bottom: 5px;
     margin-left: 30px;
}


/*Bandeau principal*/

.CarteImage {
     background-color: #1f1f1f;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 13px;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.384); /* add shadow underneath */
     position: relative;
     z-index: 3;
}

.burgerbutton {
     margin-right: 40px;
     background-color: #dd9324;
     padding: 9px;
}
     .burgericon {
          width: 100px;
          height: auto;
     }
     .burgertext {
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin-top: 0px;
          margin-left: 15px;
     }
.menuon {
     position: relative;
     z-index: 4;
     margin-left: 640px;
     margin-bottom: 2px;
     width: 118px;
     height: auto;
     background-color: #ececec;
}


.produitbutton {
     margin-right: 40px
}
.produiticon {
     width: 100px;
     height: auto;
     margin-left: 25px;
}
.produittext {
     color: #ffffff;
     font-size: 20px;
     font-weight: 600;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin-top: 0px;
}


.sodasbutton {
     margin-right: 40px
}
.sodaicon {
     width: 100px;
     height: auto;
}
.sodatext {
     color: #ffffff;
     font-size: 20px;
     font-weight: 600;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin-top: 0px;
     margin-left: 10px;
}


.patisseriebutton {
     margin-right: 40px
}
.patisserieicon {
     width: 100px;
     height: auto;
}
.patisserietext {
     color: #ffffff;
     font-size: 20px;
     font-weight: 600;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin-top: 0px;
     margin-left: 5px;
}


/*Fin Header*/

.titleburg {
     text-align: center;
     font-size: 35px;
     color: #4c4a50;
     padding-top: 40px;
}
.texttitleburg {
     text-align: center;
     font-size: 16px;
     color: #4c4a50;
     margin-top: 0px;
}

.linesep {
     height: 40px;
     width: auto;
     margin-left: 693px;
}

/*Menu Bacon*/

.burgersmenu {
     background-color: #f0f0f0;
     margin-top: -50px;
}

.burgerbacon {
     width: 130px;
     height: auto;
}
.tableburgerbacon {
     display: flex;
     justify-content: center;
     margin-bottom: 30px;
}

.test {
     background-color: white;
     border: 1px solid black;
     border-right: 0px;
     border-radius: 6px;
     display: flex;
     justify-content: center;
     padding-left: 10px;
     padding-right: -10px;
}

.textburgbacon {
     text-align: start;
     justify-content: center;
     padding-right: 6px;
}
.titlebacon {
     font-size: 25px;
     font-weight: 600;
     color: #4c4a50;
}
.columnsep {
     font-size: 30px;
}
.prix {
     font-size: 15px;
     padding-left: 10px;
     padding-right: 10px;
     margin-top: 30px;
}
.price {
     font-size: 20px;
     font-weight: 600;
     color: #4c4a50;
     text-align: center;
     margin-left: 6px;
}
.buttonmenu {
     background-color: #f1f1f1;
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
     justify-content: center;
     font-size: 25px;
     color: #e0c28b;
     font-weight: 600;
     font-family: cursive;
     border-right: 1px solid black;
     border-radius: 6px;
}

/*BurgerFrites*/

.burgerfrites {
     width: 130px;
     height: auto;
     margin-right: 10px;
     margin-left: -10px;
}

/*Menu Junior*/

.burgersmenu {
     margin-bottom: -30px;
     padding-bottom: 10px;
}