body {
     margin: 0px;
     overflow-x: hidden;
}

.linebreak {
     display: block;
}
.bold {
     font-weight: 600;
}
/*Fiche CSS Header*/

.cheescake {
     width: 1080px;
     height: auto;
     margin-left: 400px;
     margin-top: 40px;
}
.imagemid {
     background-color: #f1f1f1;
     padding-bottom: 10px;
}
.inverted-commas {
     height: 100px;
     width: auto;
}
.commentaire {
     position: sticky;
     z-index: 1;
     margin-top: -400px;
     margin-left: 50px;
     left: 60px;
     color: #000000;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 25px;
     font-style: italic;
}

.antisticky {
     padding-bottom: 200px;
}


/*Deux paragraphes livraison et concept*/

.mid {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 0px;
     margin-bottom: 0px;
}

.linesep {
     margin-top: 10px;
     width: 500px;
     height: auto;
}

/*Concept*/

.leconcept {
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: center;
}

.titleconcept {
     font-size: 50px;
     font-weight: 600;
     margin-top: 0px;
     margin-bottom: 0px;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leconcept a {
     text-decoration: none;
     color: chocolate;
}

/*La livraison*/
.lalivraison {
     margin-top: -25px; 
     margin-bottom: 0px;
     text-align: center;
}

.titlelivraison {
     font-size: 50px;
     font-weight: 600;
     margin-top: 0px;
     margin-bottom: 0px;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lineseprsz {
     margin-top: 10px;
     width: 500px;
     height: auto;
}
.linesep2 {
     margin-top: 10px;
     width: 500px;
     height: auto;
     margin-left: 5px;
}

.footer {
     margin-bottom: -100px;
}



